# ---------- TELEGRAM ----------
TELEGRAM_TOKEN=your_telegram_bot_token_here
AUTHORIZED_USERNAME=your_telegram_username
TELEGRAM_CHAT_ID=your_telegram_chat_id

# ---------- SYSTEM ----------
BASE_DIR=/home/your_username

# ---------- NOTION (Expense Tracker) ----------
NOTION_TOKEN=your_notion_integration_token
INCOME_DB_ID=your_income_database_id
EXPENSE_DB_ID=your_expense_database_id
CATEGORY_DB_ID=your_category_database_id

# ---------- DOWNLOADER ----------
DOWNLOAD_DIR=~/Downloads
